header {
    width: 100%;
    height: 80px;
}

header .inner-header {
    width: 90%;
    margin: auto;
    padding: 30px;
}

header nav ul li {
    display: inline-block;
}

header .header-logo {
    float: left;
}

header .nav-right {
    float: right;
    min-width: 40%;
    text-align: right;
}

header .nav-right ul {
    float: right;
    min-width: 40%;
}